@import url('https://fonts.googleapis.com/css?family=Pacifico');

#navbar{
    background: #00B238;
    font-size: 1.123em;
}
#navbar .header {
    font-size: 1.1em;
    font-family: 'Pacifico', cursive;
}
.ui.buttons>.ui.dropdown:last-child .menu, .ui.menu .right.dropdown.item .menu, .ui.menu .right.menu .dropdown:last-child .menu {
    padding: 15px;
}
#landing{
    margin-top: 80px;
}
.logo-text{
    font-size: 4em;
    font-family: 'Pacifico', cursive;
    margin-bottom: 40px;
}
#ideaItem{
    border: 1px solid #222222;
    padding: 8px;
    margin: 12px auto;
}
footer {
    margin: 100px 0 0 0;
    background: #00B238;
}
.idea-card .ui.card>.button, .ui.card>.buttons, .ui.cards>.card>.button, .ui.cards>.card>.buttons {
    background: #00B238;
    color: #000000;
}
#landing .ui.huge.button, .ui.huge.buttons .button, .ui.huge.buttons .or {
    color: #fff;
    background: #F12100;
}